<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/resources/plugins/jquery-easyui-1.4.3/themes/metro-blue/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/resources/plugins/jquery-easyui-1.4.3/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/resources/plugins/jquery-easyui-1.4.3/themes/IconExtension.css">
    <link rel="stylesheet" type="text/css" href="/static/resources/css/qz.css">
    <link rel="stylesheet" type="text/css" href="/static/resources/css/common.css">
    <script type="text/javascript" src="/static/resources/plugins/jquery-easyui-1.4.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/resources/plugins/jquery-easyui-1.4.3/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/resources/plugins/jquery-easyui-1.4.3/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/static/resources/js/jquery.form.js"></script>
    <script type="text/javascript" src="/static/resources/js/validate.js"></script>
    <script type="text/javascript" src="/static/resources/js/common.js"></script>
    <script type="text/javascript" src="/static/resources/js/vue.js"></script>
    <script type="text/javascript" src="/static/resources/js/wangEditor.min.js" ></script>
     