	  #fm{
           margin:0;
           padding:10px 30px;
       }
       .ftitle{
           font-size:14px;
           font-weight:bold;
           padding:5px 0;
           margin-bottom:10px;
           border-bottom:1px solid #ccc;
       }
       .fitem{
           margin-bottom:5px;
       }
       .fitem label{
           display:inline-block;
           width:80px;
       }
       .fitem input{
           width:160px;
           vertical-align: middle;
       }
        .fitem input[type="radio"]{
           width:30px;
           vertical-align: middle;
       }
       .checkboxitem{
       	    margin-bottom: 10px;
    		margin-right: 10px;
       }
       .checkboxitem label{
       		display:inline-block;
       }
       .checkboxitem input{
       		width:20px !important;
       		vertical-align: middle;
       }
       .hbox{
       		float: left;
       }
       .hbox div{
       		float: left;
       }
       .hitem {
       	  margin-right: 10px;
       }
       .hitem input{
       		width:60px !important;
       }
       
