<!-- index 首页 -->
{include file="public/head" title="$title" /}
<body>
{include file="public/menu" /}

{include file="public/news"  /}	



	<!--成果result start-->
	<div class="jResult mainW">
		<div class="newsTle reTle">
			<div class="fr resultMenu color-grey-1 clearfix">
				<div class="rmList clearfix fl" id="rmList">
					<ul>
						<li class="active" data-id="0">全部</li>
						<li data-id="1">刑事科学技术</li>
						<li data-id="2">消防科学技术</li>
						<li data-id="3">道路交通管理</li>
						<li data-id="4">安全防范技术</li>
						<li data-id="5">特种警用装备</li>
					</ul>
				</div>
				<h3 class="checkM fl color-grey-1"><a href="achieve.html">查看更多</a></h3>
			</div>
			<h1>成果展示</h1>
		</div>
		<!--全部-->
		<div class="resList active resList-1" id="resList">
			<div class="swiper-container reSwiper">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide">
		            	<ul class="resUl">
		            		<li>
		            			<a href="achieveText.html">
		            				<img src="__IMG__/user/result.png"/>
		            				<div class="resText">
		            					<h3>发布两款改色款新品</h3>
			            				<h4 class="ellipsis-2">回放支持照片、视频回放声音提示 在开启最像、照相、停止录像、低电量等操作提供警告音曝光</h4>
			            				<button class="btn btn-sm btn-blue">查看详情</button>
		            				</div>
		            			</a>
		            		</li>
		            		<li>
		            			<a href="achieveText.html">
		            				<img src="__IMG__/user/result.png"/>
		            				<div class="resText">
		            					<h3>发布两款改色款新品</h3>
			            				<h4 class="ellipsis-2">回放支持照片、视频回放声音提示 在开启最像、照相、停止录像、低电量等操作提供警告音曝光</h4>
			            				<button class="btn btn-sm btn-blue">查看详情</button>
		            				</div>
		            			</a>
		            		</li>
		            		<li>
		            			<a href="achieveText.html">
		            				<img src="__IMG__/user/result.png"/>
		            				<div class="resText">
		            					<h3>发布两款改色款新品</h3>
			            				<h4 class="ellipsis-2">回放支持照片、视频回放声音提示 在开启最像、照相、停止录像、低电量等操作提供警告音曝光</h4>
			            				<button class="btn btn-sm btn-blue">查看详情</button>
		            				</div>
		            			</a>
		            		</li>
		            	</ul>
		            </div>
		            <div class="swiper-slide">
		            	<ul class="resUl">
		            		<li>
		            			<a href="achieveText.html">
		            				<img src="__IMG__/user/result.png"/>
		            				<div class="resText">
		            					<h3>发布两款改色款新品</h3>
			            				<h4 class="ellipsis-2">回放支持照片、视频回放声音提示 在开启最像、照相、停止录像、低电量等操作提供警告音曝光</h4>
			            				<button class="btn btn-sm btn-blue">查看详情</button>
		            				</div>
		            			</a>
		            		</li>
		            		<li>
		            			<a href="achieveText.html">
		            				<img src="__IMG__/user/result.png"/>
		            				<div class="resText">
		            					<h3>发布两款改色款新品</h3>
			            				<h4 class="ellipsis-2">回放支持照片、视频回放声音提示 在开启最像、照相、停止录像、低电量等操作提供警告音曝光</h4>
			            				<button class="btn btn-sm btn-blue">查看详情</button>
		            				</div>
		            			</a>
		            		</li>
		            		<li>
		            			<a href="achieveText.html">
		            				<img src="__IMG__/user/result.png"/>
		            				<div class="resText">
		            					<h3>发布两款改色款新品</h3>
			            				<h4 class="ellipsis-2">回放支持照片、视频回放声音提示 在开启最像、照相、停止录像、低电量等操作提供警告音曝光</h4>
			            				<button class="btn btn-sm btn-blue">查看详情</button>
		            				</div>
		            			</a>
		            		</li>
		            	</ul>
		            </div>
		        </div>
		    	<!--<div class="swiper-pagination"></div>-->
		    	<div class="pagination"></div>
		    	<div class="noneInfo" style="display: none;">
        			暂无内容
        		</div>
			</div>
		</div><!--全部-->
		<!--刑事科学技术-->
		<div class="resList resList-2">
			<div class="swiper-container reSwiper">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide">
		            	<ul class="resUl">
		            		<li>
		            			<a href="achieveText.html">
		            				<img src="__IMG__/user/result.png"/>
		            				<div class="resText">
		            					<h3>发布两款改色款新品</h3>
			            				<h4 class="ellipsis-2">回放支持照片、视频回放声音提示 在开启最像、照相、停止录像、低电量等操作提供警告音曝光</h4>
			            				<button class="btn btn-sm btn-blue">查看详情</button>
		            				</div>
		            			</a>
		            		</li>
		            		<li>
		            			<a href="achieveText.html">
		            				<img src="__IMG__/user/result.png"/>
		            				<div class="resText">
		            					<h3>发布两款改色款新品</h3>
			            				<h4 class="ellipsis-2">回放支持照片、视频回放声音提示 在开启最像、照相、停止录像、低电量等操作提供警告音曝光</h4>
			            				<button class="btn btn-sm btn-blue">查看详情</button>
		            				</div>
		            			</a>
		            		</li>
		            	</ul>
		            </div>
		        </div>
		    	<div class="pagination"></div>
		    	<div class="noneInfo" style="display: none;">
        			暂无内容
        		</div>
			</div>
		</div><!--刑事科学技术-->



		<!--消防科学技术-->
		<div class="resList resList-3">
			<div class="swiper-container reSwiper">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide">
		            	<ul class="resUl">
		            		<li>
		            			<a href="achieveText.html">
		            				<img src="__IMG__/user/result.png"/>
		            				<div class="resText">
		            					<h3>发布两款改色款新品</h3>
			            				<h4 class="ellipsis-2">回放支持照片、视频回放声音提示 在开启最像、照相、停止录像、低电量等操作提供警告音曝光</h4>
			            				<button class="btn btn-sm btn-blue">查看详情</button>
		            				</div>
		            			</a>
		            		</li>
		            	</ul>
		            </div>
		        </div>
		    	<div class="pagination"></div>
		    	<div class="noneInfo" style="display: none;">
        			暂无内容
        		</div>
			</div>
		</div><!--消防科学技术-->


		<!--道路交通管理-->
		<div class="resList resList-4">
			<div class="swiper-container reSwiper">
		        <div class="swiper-wrapper">
		         
		        </div>
		    	<div class="pagination"></div>
		    	<div class="noneInfo">
        			暂无内容
        		</div>
			</div>
		</div><!--道路交通管理-->


		<!--安全防范技术-->
		<div class="resList resList-5">
			<div class="swiper-container reSwiper">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide">
		            	<ul class="resUl">
		            		<li>
		            			<a href="achieveText.html">
		            				<img src="__IMG__/user/result.png"/>
		            				<div class="resText">
		            					<h3>发布两款改色款新品</h3>
			            				<h4 class="ellipsis-2">回放支持照片、视频回放声音提示 在开启最像、照相、停止录像、低电量等操作提供警告音曝光</h4>
			            				<button class="btn btn-sm btn-blue">查看详情</button>
		            				</div>
		            			</a>
		            		</li>
		            		<li>
		            			<a href="achieveText.html">
		            				<img src="__IMG__/user/result.png"/>
		            				<div class="resText">
		            					<h3>发布两款改色款新品</h3>
			            				<h4 class="ellipsis-2">回放支持照片、视频回放声音提示 在开启最像、照相、停止录像、低电量等操作提供警告音曝光</h4>
			            				<button class="btn btn-sm btn-blue">查看详情</button>
		            				</div>
		            			</a>
		            		</li>
		            	</ul>
		            </div>
		        </div>
		    	<div class="pagination"></div>
		    	<div class="noneInfo" style="display: none;">
        			暂无内容
        		</div>
			</div>
		</div><!--安全防范技术-->


		<!--特种警用装备-->
		<div class="resList resList-6">
			<div class="swiper-container reSwiper">
		        <div class="swiper-wrapper">
		         
		        </div>
		    	<div class="pagination"></div>
		    	<div class="noneInfo">
        			暂无内容
        		</div>
			</div>
		</div><!--特种警用装备-->

	</div>
	<!--成果result-end-->














	<!--surf-->
	<!-- <div class="jDisplay">
		<div class="mainW">
			<div class="newsTle">
				<h3 class="checkM fr"><a href="exhibite.html">查看更多</a></h3>
				<h1>网上展示</h1>
			</div>
		</div>
		<div class="jdpy">
			<div class="jdpyW">
				<div class="swiper-container">
			        <div class="swiper-wrapper">
			            <div class="swiper-slide swiper-slide-center none-effect">
			            	<a href="exImages.html">
			            		<div class="disText">
			            			<h1>消防布控系统</h1>
			            			<h4 class="ellipsis-3 color-white">视野开阔佩戴舒适，牢靠穿脱简便，视野开阔佩戴舒适，视野开阔佩戴舒适，牢靠穿脱简便，视野开阔佩戴舒适牢靠穿脱简便，视野开阔佩戴舒适，牢靠穿脱简便，视野开阔佩戴舒适</h4>
			            			<button class="btn btn-sm btn-red">查看详情</button>
			            		</div>
			            		<img src="__IMG__/user/surf.png">
			            	</a>
			            </div>
			            <div class="swiper-slide">
			            	<a href="exImages.html">
			            		<div class="disText">
			            			<h1>消防布控系统</h1>
			            			<h4 class="ellipsis-3">视野开阔佩戴舒适，牢靠穿脱简便，视野开阔佩戴舒适，牢靠穿脱简便，视野开阔佩戴舒适，牢靠穿脱简便，视野开阔佩戴舒适</h4>
			            			<button class="btn btn-sm btn-red">查看详情</button>
			            		</div>
			            		<img src="__IMG__/user/surf.png">
			            	</a>
			            </div>
			            <div class="swiper-slide">
			            	<a href="exImages.html">
			            		<div class="disText">
			            			<h1>消防布控系统</h1>
			            			<h4 class="ellipsis-3">视野开阔佩戴舒适，牢靠穿脱简便，视野开阔佩戴舒适，牢靠穿脱简便，视野开阔佩戴舒适，牢靠穿脱简便，视野开阔佩戴舒适</h4>
			            			<button class="btn btn-sm btn-red">查看详情</button>
			            		</div>
			            		<img src="__IMG__/user/surf.png">
			            	</a>
			            </div>
			            <div class="swiper-slide">
			            	<a href="exImages.html">
			            		<div class="disText">
			            			<h1>消防布控系统</h1>
			            			<h4 class="ellipsis-3">视野开阔佩戴舒适，牢靠穿脱简便，视野开阔佩戴舒适，牢靠穿脱简便，视野开阔佩戴舒适，牢靠穿脱简便，视野开阔佩戴舒适</h4>
			            			<button class="btn btn-sm btn-red">查看详情</button>
			            		</div>
			            		<img src="__IMG__/user/surf.png">
			            	</a>
			            </div>
			            <div class="swiper-slide">
			            	<a href="exImages.html">
			            		<div class="disText">
			            			<h1>消防布控系统</h1>
			            			<h4 class="ellipsis-3">视野开阔佩戴舒适，牢靠穿脱简便，视野开阔佩戴舒适，牢靠穿脱简便，视野开阔佩戴舒适，牢靠穿脱简便，视野开阔佩戴舒适</h4>
			            			<button class="btn btn-sm btn-red">查看详情</button>
			            		</div>
			            		<img src="__IMG__/user/surf.png">
			            	</a>
			            </div>
			        </div>
			     	<div class="swiper-button-prev"></div>
			    	<div class="swiper-button-next"></div>
			    </div>
			</div>
		</div>
	</div> --><!--surf-end-->
	<!--科技人-->
	<div class="techlogy mainW">
		<div class="newsTle">
			<h3 class="checkM fr"><a href="techText.html">查看更多</a></h3>
			<h1>科技人</h1>
		</div>
		<div class="clearfix">
			<div class="tech_bg fr">
				<a href="techText.html">
					<div class="tech_video">
						<div class="tv_bg">
							<div class="videoIcon"></div>
							<img src="__IMG__/user/video_post.png"/>
						</div>
					</div>
					<div class="clearfix">
						<div class="tech_text fr">
							<div class="fontsize-22 color-grey">
								王楷：踏实肯干的“小”警察
							</div>
							<p class="ellipsis-3 color-grey-4">
								一名初涉警营的年轻人，一位普通又平凡的民警，在浦阳派出所工作一年半来，王懋楷凭借自己的勤众口中“有困难找小王”这句话的主人公。王懋楷凭借自己的勤众口中“有困难找小王”这句话的主人公，在平凡的岗位上完成了不平凡的使命。
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="tech_list clearfix">
			<ul>
				<li>
					<li>
            			<a href="techText.html">
            				<img src="__IMG__/user/techlogy.png"/>
            				<div class="resText">
            					<h3>情系群众，做老百姓的“贴心人”</h3>
	            				<h4 class="ellipsis-2">一名初涉警营的年轻人，一位普通又平凡的民警，在浦阳派出所工作一年半来。</h4>
            				</div>
            			</a>
            		</li>
            		<li>
            			<a href="techText.html">
            				<img src="__IMG__/user/techlogy.png"/>
            				<div class="resText">
            					<h3>情系群众，做老百姓的“贴心人”</h3>
	            				<h4 class="ellipsis-2">一名初涉警营的年轻人，一位普通又平凡的民警，在浦阳派出所工作一年半来。</h4>
            				</div>
            			</a>
            		</li>
            		<li class="mr0">
            			<a href="techText.html">
            				<img src="__IMG__/user/techlogy.png"/>
            				<div class="resText">
            					<h3>情系群众，做老百姓的“贴心人”</h3>
	            				<h4 class="ellipsis-2">一名初涉警营的年轻人，一位普通又平凡的民警，在浦阳派出所工作一年半来。</h4>
            				</div>
            			</a>
            		</li>
				</li>
			</ul>
		</div>
	</div>
	<!--forum-->
	<!--11.27改-->
	<!-- <div class="jForum">
		<div class="mainW clearfix">11.27改
			<div class="jforum fl">
				<div class="jforName color-grey"><a href="forum.html">论坛社区</a></div>
				<div class="forumMenu">
					<ul class="clearfix">
						<li class="active">全部</li><li>科技新发布</li><li>创客交流区</li>
						<li>网上展厅区</li><li>免费超市区</li><li>烽火求助区</li>
					</ul>
				</div>
				全部
				<div class="forumList active">
					<ul>
						<li class="clearfix">
							<a href="forumText.html">
								<div class="forUser">
									<img src="__IMG__/user/user.jpg"/>
								</div>
								<div class="forText">
									<h2 class="ellipsis">防刺服通常和哪些警用装备配合使用？</h2>
									<h5 class="color-grey-2">
										<div class="fr forData">
											<span class="forView">526</span><span class="forCommend">55</span>
										</div>
										浮生若梦骄傲 <span>|</span> 发布于2016-01-18 20:38
									</h5>
								</div>
							</a>
						</li>
						<li class="clearfix">
							<a href="forumText.html">
								<div class="forUser">
									<img src="__IMG__/user/user.jpg"/>
								</div>
								<div class="forText">
									<h2 class="ellipsis">防刺服通常和哪些警用装备配合使用？</h2>
									<h5 class="color-grey-2">
										<div class="fr forData">
											<span class="forView">526</span><span class="forCommend">55</span>
										</div>
										浮生若梦骄傲 <span>|</span> 发布于2016-01-18 20:38
									</h5>
								</div>
							</a>
						</li>
						<li class="clearfix">
							<a href="forumText.html">
								<div class="forUser">
									<img src="__IMG__/user/user.jpg"/>
								</div>
								<div class="forText">
									<h2 class="ellipsis">防刺服通常和哪些警用装备配合使用？</h2>
									<h5 class="color-grey-2">
										<div class="fr forData">
											<span class="forView">526</span><span class="forCommend">55</span>
										</div>
										浮生若梦骄傲 <span>|</span> 发布于2016-01-18 20:38
									</h5>
								</div>
							</a>
						</li>
						<li class="clearfix">
							<a href="forumText.html">
								<div class="forUser">
									<img src="__IMG__/user/user.jpg"/>
								</div>
								<div class="forText">
									<h2 class="ellipsis">防刺服通常和哪些警用装备配合使用？</h2>
									<h5 class="color-grey-2">
										<div class="fr forData">
											<span class="forView">526</span><span class="forCommend">55</span>
										</div>
										浮生若梦骄傲 <span>|</span> 发布于2016-01-18 20:38
									</h5>
								</div>
							</a>
						</li>
					</ul>
					<div class="noneInfo" style="display: none;">
	        			暂无内容
	        		</div>
				</div>全部
				科技新发布
				<div class="forumList">
					<ul>
						<li class="clearfix">
							<a href="forumText.html">
								<div class="forUser">
									<img src="__IMG__/user/user.jpg"/>
								</div>
								<div class="forText">
									<h2 class="ellipsis">防刺服通常和哪些警用装备配合使用？</h2>
									<h5 class="color-grey-2">
										<div class="fr forData">
											<span class="forView">526</span><span class="forCommend">55</span>
										</div>
										浮生若梦骄傲 <span>|</span> 发布于2016-01-18 20:38
									</h5>
								</div>
							</a>
						</li>
					</ul>
					<div class="noneInfo" style="display: none;">
	        			暂无内容
	        		</div>
				</div>科技新发布
				创客交流区
				<div class="forumList">
					<ul>
						<li class="clearfix">
							<a href="forumText.html">
								<div class="forUser">
									<img src="__IMG__/user/user.jpg"/>
								</div>
								<div class="forText">
									<h2 class="ellipsis">防刺服通常和哪些警用装备配合使用？</h2>
									<h5 class="color-grey-2">
										<div class="fr forData">
											<span class="forView">526</span><span class="forCommend">55</span>
										</div>
										浮生若梦骄傲 <span>|</span> 发布于2016-01-18 20:38
									</h5>
								</div>
							</a>
						</li>
					</ul>
					<div class="noneInfo" style="display: none;">
	        			暂无内容
	        		</div>
				</div>创客交流区
				网上展厅区
				<div class="forumList">
					<ul>
					</ul>
					<div class="noneInfo">
	        			暂无内容
	        		</div>
				</div>网上展厅区
				免费超市区
				<div class="forumList">
					<ul>
						<li class="clearfix">
							<a href="forumText.html">
								<div class="forUser">
									<img src="__IMG__/user/user.jpg"/>
								</div>
								<div class="forText">
									<h2 class="ellipsis">防刺服通常和哪些警用装备配合使用？</h2>
									<h5 class="color-grey-2">
										<div class="fr forData">
											<span class="forView">526</span><span class="forCommend">55</span>
										</div>
										浮生若梦骄傲 <span>|</span> 发布于2016-01-18 20:38
									</h5>
								</div>
							</a>
						</li>
						<li class="clearfix">
							<a href="forumText.html">
								<div class="forUser">
									<img src="__IMG__/user/user.jpg"/>
								</div>
								<div class="forText">
									<h2 class="ellipsis">防刺服通常和哪些警用装备配合使用？</h2>
									<h5 class="color-grey-2">
										<div class="fr forData">
											<span class="forView">526</span><span class="forCommend">55</span>
										</div>
										浮生若梦骄傲 <span>|</span> 发布于2016-01-18 20:38
									</h5>
								</div>
							</a>
						</li>
						<li class="clearfix">
							<a href="forumText.html">
								<div class="forUser">
									<img src="__IMG__/user/user.jpg"/>
								</div>
								<div class="forText">
									<h2 class="ellipsis">防刺服通常和哪些警用装备配合使用？</h2>
									<h5 class="color-grey-2">
										<div class="fr forData">
											<span class="forView">526</span><span class="forCommend">55</span>
										</div>
										浮生若梦骄傲 <span>|</span> 发布于2016-01-18 20:38
									</h5>
								</div>
							</a>
						</li>
					</ul>
					<div class="noneInfo" style="display: none;">
	        			暂无内容
	        		</div>
				</div>免费超市区
				烽火求助区
				<div class="forumList">
					<ul>
						<li class="clearfix">
							<a href="forumText.html">
								<div class="forUser">
									<img src="__IMG__/user/user.jpg"/>
								</div>
								<div class="forText">
									<h2 class="ellipsis">防刺服通常和哪些警用装备配合使用？</h2>
									<h5 class="color-grey-2">
										<div class="fr forData">
											<span class="forView">526</span><span class="forCommend">55</span>
										</div>
										浮生若梦骄傲 <span>|</span> 发布于2016-01-18 20:38
									</h5>
								</div>
							</a>
						</li>
					</ul>
					<div class="noneInfo" style="display: none;">
	        			暂无内容
	        		</div>
				</div>烽火求助区
			</div>
			<div class="jKnow fl">
				<div class="jforName color-grey"><a href="knowledge.html">我要知道</a></div>
				<form action="" method="get" class="clearfix">
					<div class="jkForm">
						<input type="search" placeholder="我要提问..." class="fl kSearch"/>
						<button type="submit" class="fl searBtn"></button>
					</div>
				</form>
				<div class="knowList">
					<ul>
						注意，前三条一直都是标红状态，表示常搜问题
						<li class="ellipsis active"><a href="achieveText.html">防刺服通常和哪些警用装备配合使用？</a></li>
						<li class="ellipsis active"><a href="achieveText.html">防刺服通常和哪些警用装备配合使用？</a></li>
						<li class="ellipsis active"><a href="achieveText.html">防刺服通常和哪些警用装备配合使用？</a></li>
						<li class="ellipsis"><a href="achieveText.html">防刺服通常和哪些警用装备配合使用？</a></li>
						<li class="ellipsis"><a href="achieveText.html">防刺服通常和哪些警用装备配合使用？</a></li>
						<li class="ellipsis"><a href="achieveText.html">防刺服通常和哪些警用装备配合使用？</a></li>
						<li class="ellipsis"><a href="achieveText.html">防刺服通常和哪些警用装备配合使用？</a></li>
						<li class="ellipsis"><a href="achieveText.html">防刺服通常和哪些警用装备配合使用？</a></li>
						<li class="ellipsis"><a href="achieveText.html">防刺服通常和哪些警用装备配合使用？</a></li>
						<li class="ellipsis"><a href="achieveText.html">防刺服通常和哪些警用装备配合使用？</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div> -->
	<!--forum-end-->
	<!--footer-->
	{include file="public/footer" /}
    <!--成果展示假数据-->

	<script type="text/javascript">
		$(function(){
			//新闻列表
			var mySwiper = new Swiper('.newsList .swiper-container',{
			    loop:true,
			    grabCursor: true,
			    paginationClickable: true,
			    autoPlay:2000
			 })
			$('.newsList .swiper-button-prev').click(function(e){
			    e.preventDefault();
			    mySwiper.swipePrev();
			})
			$('.newsList .swiper-button-next').click(function(e){
			    e.preventDefault();
			    mySwiper.swipeNext();
			})
			//网上展厅
			var mySwiper1 = new Swiper('.jDisplay .swiper-container',{
			    paginationClickable: true,
			    centeredSlides: true,
			    slidesPerView: "auto",
			    watchActiveIndex: true,
			    speed:500,
			    loop:true
			})
			$('.jDisplay .swiper-button-prev').click(function(e){
			    e.preventDefault();
			    mySwiper1.swipePrev();
			})
			$('.jDisplay .swiper-button-next').click(function(e){
			    e.preventDefault();
			    mySwiper1.swipeNext();
			})
			//成果展示轮播
			var mySwiper3 = new Swiper('.resList-1 .swiper-container',{
			    pagination: '.resList-1 .pagination',
			    grabCursor: true,
			    paginationClickable: true,
			    resizeReInit : true,
			    watchActiveIndex:true,
			    updateOnImagesReady : true,
			    slidesPerViewFit:true,
			    momentumBounce:false
			})
			var mySwiper4= new Swiper('.resList-2 .swiper-container',{
			    pagination: '.resList-2 .pagination',
			    grabCursor: true,
			    paginationClickable: true,
			    resizeReInit : true,
			    watchActiveIndex:true,
			    updateOnImagesReady : true,
			    slidesPerViewFit:true,
			    momentumBounce:false
			})
			var mySwiper5= new Swiper('.resList-3 .swiper-container',{
			    pagination: '.resList-3 .pagination',
			    grabCursor: true,
			    paginationClickable: true,
			    resizeReInit : true,
			    watchActiveIndex:true,
			    updateOnImagesReady : true,
			    slidesPerViewFit:true,
			    momentumBounce:false
			})
			var mySwiper6= new Swiper('.resList-4 .swiper-container',{
			    pagination: '.resList-4 .pagination',
			    grabCursor: true,
			    paginationClickable: true,
			    resizeReInit : true,
			    watchActiveIndex:true,
			    updateOnImagesReady : true,
			    slidesPerViewFit:true,
			    momentumBounce:false
			})
			var mySwiper7= new Swiper('.resList-5 .swiper-container',{
			    pagination: '.resList-5 .pagination',
			    grabCursor: true,
			    paginationClickable: true,
			    resizeReInit : true,
			    watchActiveIndex:true,
			    updateOnImagesReady : true,
			    slidesPerViewFit:true,
			    momentumBounce:false
			})
			var mySwiper8= new Swiper('.resList-6 .swiper-container',{
			    pagination: '.resList-6 .pagination',
			    grabCursor: true,
			    paginationClickable: true,
			    resizeReInit : true,
			    watchActiveIndex:true,
			    updateOnImagesReady : true,
			    slidesPerViewFit:true,
			    momentumBounce:false
			})
			//成果展示tab切换
			$("#rmList li").click(function(){
				$(this).addClass('active').siblings().removeClass('active');
				var index=$(this).index();
				$(".resList").eq(index).addClass("active").siblings().removeClass("active");
			})
			//论坛社区tab切换
			$(".forumMenu li").hover(function(){
				$(this).addClass('active').siblings().removeClass('active');
				var index=$(this).index();
				$(".forumList").eq(index).addClass("active").siblings().removeClass("active");
			})
		})
	</script>
</body>
</html>