{include file="public/head" /}
<!--科技人首页-->
<body>
	{include file="public/menu" /}
	<div class="nBanner newsHead" style="background-image: url(__IMG__/banner7.png);">
		<div class="mainW">
			<div class="fontsize-48 color-white">
				科技人
				<h2 class="color-white mt5">Technology people</h2>
			</div>
		</div>
	</div>
	<!--成果展示-->
	<div class="newsMain mainW">
		<h4 class="miniM">
			您的位置：
			<a href="{:url('Index/index')}"><span  class="mr10">首页</span></a>
			>
			<span class="color-red mrl10">科技人</span>
		</h4>
		<div class="reSwiper techList">
			<ul class="resUl clearfix">
        		{volist name="data" id="list" key="k"}
            		<li {if condition="($k%3==0)"} class="mr0" {/elseif condition="($k%3==0) and ($list['short_video'] != null)"} class="video mr0" {/if}>
            			<a href="{:url('Secience/more',['id'=>$list['id']])}">
            				<div class="exImg">
            					<div class="techPlay">
            						<div {if condition="($list['short_video'])"} class="videoIcon" {/if}></div>
            						<img src="{$list.thumb}" width="370" height="180"/>
            					</div>
            				</div>
            				<div class="tech_tle">
        						<h3>{$list.title}</h3>
        						<h5 class="color-grey-c"><?php echo date('Y-m-d',strtotime($list['add_time']));  ?></h5>
        						<p class="ellipsis-2 nlP">{$list.recommendation}</p>
        					</div>
            			</a>
            		</li>
        		{/volist}
        	</ul>
        	<!--分页-->
			<div class="pagebox clearfix mt20">
				<div class="pagesearch fr">
					<span>共<?php echo ceil($page_total/9);?>页,到</span>
					<input type="text" class="pcount" name="page" value="">
					<span>页</span>
					<input type="button" class="pbtn" onclick="go();" value="确认">
				</div>
				{$page}
			</div>
		</div>
	</div>
	<!--footer-->
    {include file="public/footer" /}
	<script type="text/javascript">
		$(function(){
			$(".searMenu li").hover(function(){
				$(this).addClass('active').siblings().removeClass('active');
				var index=$(this).index();
				$(".resltList").eq(index).addClass("active").siblings().removeClass("active");
			})
		})

        function go(){
            var pages = <?php echo ceil($page_total/6);?>  //总共页数
            var page  = $('input[name="page"]').val();
            if (page > pages) {
                layer.msg('请不要超过最大页码数');
                return false;
            }

            if (page =='' || page == null) {
                layer.msg('请输入页码数');
                return false;
            }
            window.location.href="{:url('Secience/index')}?category={:request()->param('category')}&page="+page;
        }
	</script>
</body>
</html>
