{include file="public/head" /}
<body>
   {include file="public/menu" /}
    <!--成果详情-->
    <div class="achieveText mainW">
        <h4 class="miniM clearfix">
            <div class="fl">
                您的位置：
                <a href="{:url('Index/index')}"><span  class="mr10">首页</span></a>
                >
                <a href="{:url('Secience/index')}"><span class="mrl10">科技人</span></a>
                >
            </div>
            <span class="color-red mrl10 pstTle ellipsis fl">{$data.title}</span>
        </h4>
        <div class="searList">
        <!--热门推荐-->
         <div class="searWord fr recomList">
                <h3 class="wordTle color-grey-5 recomTle"><span>热门推荐</span></h3>
                <ul class="clearfix tcomList_1">
                    {volist name="hots" id="list"}
                    <li {if condition="($list['short_video'] !=null)" } class="video" {/if} >
                        <a href="{:url('Secience/more',['id'=>$list['id']])}">
                            <div class="tcomImg">
                                <div {if condition="($list['short_video'] !=null)"} class="videoIcon" {/if} ></div>
                                <img src="{$list.thumb}" width="233" height="114"/>
                            </div>
                            <h4 class="ellipsis color-grey">{$list.title}</h4>
                        </a>
                    </li>
                    {/volist}
                </ul>
                
            </div>
            <div class="searBox">
                <!--文章-->
                <div class="achiBox">
                    <!--文章标题-->
                    <div class="achiTle">
                        <h1>{$data.title}</h1>
                        <h5 class="color-grey-4">{$username} 发布于
                        <?php echo date('Y-m-d H:i:s',strtotime($data['add_time']));?>
                            <span class="ml15">浏览：{$data.views}次</span>
                        </h5>
                    </div>
                    <!--文章视频-->
                    {if condition="($data['short_video'])"}

                        <div class="achiVideo">
                            <video id="my-video" class="video-js" x-webkit-airplay="allow" webkit-playsinline controls poster="{$data.thumb}" preload="auto"  data-setup="{}" width="827" height="434">
                                <source src="{$data.short_video}" type="video/mp4"></source>
                            </video>
                            <button class="palyNow" id="palyBtn"></button>
                        </div>

                    {/if}
                    
                    <!--文章文字内容-->
                    {$data.content}
                </div>
                <!--评论区-->

                <div class="commend">
                    <h3>全部评论<span class="color-grey-4 ml15">{$total}</span></h3>
                    <div class="cmdBox">
                        <div class="clearfix">
                            <div class="cmdHead fl">
                                <img src="__IMG__/user/exhibide.png" width="54" height="54"/>
                            </div>
                            <div class="cmdArea fl">
                                <div class="releaIpt">
                                    <div class="maxLen">2000</div>
                                    <textarea name="content" placeholder="说点什么吧..." maxlength="2000"></textarea>
                                </div>
                                <div class="releaIpt clearfix mt16">
                                    <button type="button" id="send" class="btn fr cmdBtn btn-lg">发表评论</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    {volist name="comments" id="list"}     <!--截取多少条评论出来-->
                    <div class="cmdBox">
                        <div class="clearfix">
                            <div class="cmdHead fl">
                                <img src="__IMG__/user/exhibide.png" width="54" height="54"/>
                            </div>
                            <div class="fl">
                                <div class="cmdArea">
                                    <h5 class="color-grey-2"><span class="color-blue-1">{$list.username}</span>&nbsp;|&nbsp;&nbsp;{$list.add_time}</h5>
                                    <p class="fontsize-15 color-grey-5 cmdText">{$list.content}</p>
                                    <div class="cmdOpt clearfix">
                                        <div class="clearfix fr">
                                            <div class="replyBtn fl">
                                                回复
                                            </div>
                                            <!-- <div class="fablurBtn fl">
                                                12
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                {volist name="list['_child']" id="child"}
                                    <div class="cmdArea replyArea">
                                        <h5 class="color-grey-2"><span class="color-blue-1">{$child.username} </span>回复<span class="color-blue-1"> {$list.username}</span></h5>
                                        <p class="fontsize-15 color-grey-5 cmdText">{$child.content}</p>
                                        <div class="cmdOpt clearfix">
                                            <div class="clearfix fr">
                                               <!--  <div class="replyBtn fl">
                                                    回复
                                                </div>
                                                <div class="fablurBtn fl">
                                                    12
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                {/volist}
                            </div>
                        </div>
                        <div class="rpl_input">

                            <div class="releaIpt">
                                <input type="text" name="{$list.id}" placeholder="回复{$list.username}..."/>
                            </div>
                            <div class="releaIpt clearfix mt7">
                                <button type="button" class="btn fr cmdBtn btn-lg">评论</button>
                                <button type="button" class="btn fr cancleBtn btn-lg">取消</button>
                            </div>
                        </div>
                    </div>                
                {/volist}
                </div>
                <!--评论区结束-->
            </div>
        </div>
    </div>
    <!--footer-->
   {include file="public/footer" /}
    <script type="text/javascript">
        $(function(){
            //发表评论
            //
            var userid = <?php if (session('userid')) { echo session('userid');}else{ echo 0;}  ?>

            $("#send").click(function(){
                var content   = $('textarea[name="content"]').val();
                var arc_id    = {$data.id};
                //var user_id   = {$Think.session.userid};
                var comment_id= 0;
                if (content =="" || content ==null) {
                    layer.msg('评论区不能为空', {icon: 5});
                    return false;
                }
                if (userid ==0) {
                    //没有登录提示登录
                    layer.msg('您还没有登录,请登录后再执行操作');
                    return false;
                }
                //执行POST请求
                $.post("{:url('Secience/sendComment')}",
                    {arc_id:arc_id,content:content,comment_id:comment_id},function(data){

                        if (data.msg=='ok') {
                            layer.msg(''+data.data, function(){
                            //关闭后的操作
                                history.go();
                            });
                        }else{
                            layer.msg('发表评论失败',{icon:5});
                        }
                });
            });
            
            //回复
            $(".replyBtn").click(function(){
                $(this).addClass("active");
                var parent=$(this).parents(".cmdArea");
                var pat=$(this).parents(".cmdBox");
                pat.find(".rpl_input").show();
            })
            //回复评论
            $(".mt7 button").click(function(){
                //var parent=$(this).parents(".releaIpt");
                var pat         =  $(this).parents(".rpl_input");
                var content     =  pat.find("input").val();
                var comment_id  =  pat.find("input").prop('name');
                var arc_id      =  {$data.id};
                if (content==""||content==null) {
                    layer.msg('回复评论不能为空',{icon:5});
                    return false;
                }

                if (userid ==0) {
                    //没有登录提示登录
                    layer.msg('您还没有登录,请登录后再执行操作');
                    return false;
                }
                //执行POST
                $.post("{:url('Secience/sendComment')}",{content:content,arc_id:arc_id,comment_id:comment_id},function(data){
                    if (data.msg=='ok') {
                         layer.msg(''+data.data, function(){
                            //关闭后的操作
                                history.go();
                            });
                    }else{
                        layer.msg('发表评论失败',{icon:5});
                    }
                })

            });

            //取消回复
            $(".cancleBtn").click(function(){
                var parent=$(this).parents(".rpl_input");
                parent.hide();
            })
            //点赞
            $(".fablurBtn").click(function(){
                if($(this).hasClass("active")){
                    $(this).removeClass("active");
                }else{
                    $(this).addClass("active");
                }
            })
            //限制textarea字数在2000字以内
            $(".releaIpt textarea").on("input propertychange", function(e) {  
                var $this = $(this),_val=$this.val();
                if (_val.length >2000) {  
                    layer.msg("最多输入2000个字");
                    $this.val(_val.substring(0, 2000));  
                } 
            }); 
        })
        myPlayer = neplayer('my-video', {errorDisplay:false}, function() {});
        var playerTech=videojs("my-video").tech({ IWillNotUseThisInPlugins: true });
        myPlayer.onPlayState(1,function(){$('#palyBtn').hide();});
        myPlayer.onPlayState(2,function(){$('#palyBtn').show();});
        $('#palyBtn').click(function(){myPlayer.play();})
    </script>
</body>
</html>
