{include file="public/head"}
	<meta charset="utf-8">
    <title>用户管理页面</title>
   <!--  用户管理页面实现增删改查 -->
</head>

    <script>
        $(function(){
            $('#dg').datagrid({
                url:'/json/User',
                columns:[[
                    {field:'userid',title:'id',width:'50'},
                    {field:'username',title:'用户名',width:'200',align:'center'},
                    {field:'real_name',title:'真实姓名',width:'200',align:'center'},
                    {field:'sex',title:'性别',width:'200',align:'center',formatter: function(value,row,index){
                        if(row.sex == '0'){
                            return '男';
                        }else{
                            return '女';
                        }
                    }},
                    {field:'delete_flag',title:'删除标志',width:'200',align:'center',formatter: function(value,row,index){
                        if(row.delete_flag == 'false'){
                            return '否';
                        }else{
                            return '是';
                        }
                    }},
                    {field:'email',title:'邮箱',width:'200',align:'center'},
                    {field:'addr',title:'地址',width:'200',align:'center'},
                    {field:'mobile',title:'手机号',width:'200',align:'center'},
                    {field:'profession',title:'专业',width:'200',align:'center'},
                    {field:'remark',title:'个人介绍',width:'200',align:'center'}

                ]]
            });
        });

        function addUser(){
            //用户添加
            $('#dlg').dialog('open').dialog('setTitle','新增用户');
            $('#fm').form('clear');
            //通过JS 让select默认选中
            $('select').each(function (i, j) {
                var options = $(j).find("option");
                options.attr("selected", false);
                options.first().attr("selected", true);
            })

            url = '/json/User/add'; //根据接口文档上的POST地址
        }

        function editUser(){
            //更新用户
            var row = $('#dg').datagrid('getSelected');
            delete row.password;
            $('input[name="password"]').removeClass("easyui-validatebox");
            if(row){
                $('#dlg').dialog('open').dialog('center').dialog('setTitle','更新用户');
                
                $('#fm').form('load',row);
                url = '/json/User/update/userid/'+row.userid;
            }else{
                message();
            }
        }


         function saveUser(){
            //保存
            
            $('#fm').form('submit',{
                url:url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(data){
                    var data = eval('(' + data + ')');
                    if(data.result == 1){
                        //执行成功 TRUE
                        //关闭小窗口 数据刷新
                        $('#dlg').dialog('close');
                        $('#dg').datagrid('reload');
                    }
                }
            });

        }


        function isUser(){
            //启用或者暂停用户
            var row = $('#dg').datagrid('getSelected');
            if(row){
                if (row.delete_flag == 'true') {
                    var info  = '启用';
                    var url   = '/json/User/active';
                    var isTrue= false;
                }else{
                    var info  = '禁用'; 
                    var url   = '/json/User/disable';
                    var isTrue= true;
                }
                
				
                $.messager.confirm('Confirm','确定'+info+'此用户？',function(r){

                    if (r) {
                        $.post(url,{userid:row.userid,delete_flag:isTrue},function(data){
                               /*  var data = eval('(' + data + ')'); */
                            if (data.result == 1) {
                                //执行成功
                                $('#dg').datagrid('reload');
                            }else{
                                alert(data.message);
                            }
                        });
                    }

                });

               


            } else{
                message();
            }    
        }


        function delUser(){
            //删除用户
            var row = $('#dg').datagrid('getSelected');
            if(row){
            	
            	if(row.status == 1){
                	message('错误,管理员不允许被删除！');
                }else{
                	$.messager.confirm('Confirm','确定删除？',function(r){
                		if (r) {
                            $.post("/json/User/delete",{userid:row.userid},function(data){
                                    
    	                            if (data.result == 1) {
    	                                //执行成功
    	                                $('#dg').datagrid('reload');
    	                            }else{
    	                                alert(data.message);
    	                            }
    	                        });
                        }

                    });
                	
                }
                

            }else{
                message();
            }
        }

        function moreUser(){
            //用户详情
           var row = $('#dg').datagrid('getSelected');
           if(row){

                //$("#win").window('open'); //打开隐藏的窗口
                $('#win').dialog('open').dialog('center').dialog('setTitle','用户详情');
                $('#finfo').form('load',row);
           }else{
                message();
           }
            
        
        }

        function userSearch(){
            //用户查询
            $('#dg').datagrid('load',{
               
                username: $('#username').val(), 
            });
        }
        
    </script>

<body>
 <!-- 工具栏 -->
    <div id="tb">
    <form id="searchfm" >
        <div>
            
            <a href="javascript::void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addUser()">新增</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">修改</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="delUser()">删除</a>
            <a href="javascript::void(0)" class="easyui-linkbutton" iconCls="icon-redo"  plain="true" onclick="isUser()">启用/暂停</a>
            <a href="javascript::void(0)" class="easyui-linkbutton" iconCls="icon-help" plain="true"  onclick="moreUser()">用户详情</a>
        </div> 
        
        <div>
            &nbsp;用户名：&nbsp;<input type="text" id="username" name="username"  size="20" />&nbsp;
           
            <a href="javascript:void(0)" onclick="userSearch()" class="easyui-linkbutton" iconCls="icon-search" plain="true">搜索</a>
            <a href="javascript:resetSearchForm()" class="easyui-linkbutton" iconCls="icon-arrow_undo" plain="true">重置</a>
        </div>
     </form>    
    </div>




    <!-- 查询表单
         查询用户使用POST请求
     --> 
    <table id="dg" title="用户管理" class="easyui-datagrid"  pagination="true" rownumbers="true"  fit="true" 
      singleSelect="true"  toolbar="#tb">
        
    </table>


        <!-- 用户详细信息 -->
    
    
    <div id="win" class="easyui-dialog" style="width: 400px;height:550px;padding: 10px 20px" closed="true" buttons="#dlg-buttons">
       
       <form id="finfo">

            <div class="fitem">
                <label>用户ID:</label>
                <input name="userid" class="easyui-textbox" readonly />
            </div>
           
            <div class="fitem">
                <label>用户名:</label>
                <input name="username" class="easyui-textbox" readonly />
            </div>
             
                <div class="fitem">
                <label>邮箱:</label>
                <input name="email" class="easyui-textbox" readonly  />
            </div>
 
            <div class="fitem">
                <label>手机号:</label>
                <input name="mobile" class="easyui-textbox" readonly />
            </div>
 
            <div class="fitem">
                <label>真实姓名:</label>
                <input name="real_name" class="easyui-textbox" readonly />
            </div>
    
            <div class="fitem">
                <label>性别:</label>
                <select name="sex" readonly>
                    <option value="0">男</option>
                    <option value="1">女</option>
                </select>
            </div>
 
            <div class="fitem" style="margin-top: 15px;">
                <label>地址:</label>
                <input  name="addr" class="easyui-textbox" readonly />
            </div> 
        
            <div class="fitem">
                <label>专业:</label>
                <input name="profession" class="easyui-textbox" readonly />
            </div>
        
            <div class="fitem">
                <label>个人介绍:</label>
                <input name="remark" class="easyui-textbox" readonly />
            </div>
        
               <div class="fitem">
                <label>状态:</label>
                <select name="status">
                    <option value="0">普通用户</option>
                    <option value="1">管理员</option>
                </select>
            </div>
            
            <div class="fitem">
                <label>类型:</label>
                <select name="type">
                    <option value="0">游客</option>
                    <option value="1">普通会员</option>
                    <option value="2">超级会员</option>
                </select>
            </div>

            <div class="fitem">
                <label>删除标志:</label>
                <select name="delete_flag">
                    <option value="false">否</option>
                    <option value="true">是</option>
                </select>
            </div>
            
            <div class="fitem">
                <label>当前皮肤:</label>
                <input name="current_skin" class="easyui-textbox" readonly />
            </div>

         </form>   

    </div>
     

    <!-- 弹出FORM表单 -->
 <div id="dlg" class="easyui-dialog" style="width: 400px;height:500px;padding: 10px 20px" closed="true" buttons="#dlg-buttons">
        <form id="fm" method="post" novalidate>
         <div class="ftitle">用户信息</div>
            <div class="fitem">
                <label>用户名:</label>
                <input name="username" class="easyui-textbox easyui-validatebox"   data-options="required:true">
            </div>
                
            <div class="fitem">
                <label>密码:</label>
                <input name="password" class="easyui-passwordbox easyui-validatebox">
            </div>
    
            <div class="fitem">
                <label>邮箱:</label>
                <input name="email" class="easyui-textbox easyui-validatebox" data-options="required:true">
            </div>
 
            <div class="fitem">
                <label>手机号:</label>
                <input name="mobile" class="easyui-textbox easyui-validatebox" required="true" data-options="validType:['mobile']">
            </div>
 
            <div class="fitem">
                <label>真实姓名:</label>
                <input name="real_name" class="easyui-textbox" required="true">
            </div>
    
            <div class="fitem">
                <label>性别:</label>
                <select name="sex" id="sex">
                    <option value="0">男</option>
                    <option value="1">女</option>
                </select>
            </div>
 
            <div class="fitem" style="margin-top: 15px;">
                <label>地址:</label>
                <input  name="addr" class="easyui-textbox">
            </div> 
        
            <div class="fitem">
                <label>专业:</label>
                <input name="profession" class="easyui-textbox" required="true">
            </div>
        
            <div class="fitem">
                <label>个人介绍:</label>
                <input name="remark" class="easyui-textbox" required="true">
            </div>
        
            <div class="fitem">
                <label>状态:</label>
                <select name="status">
                    <option value="0">普通用户</option>
                    <option value="1">管理员</option>
                </select>
            </div>
            
            <div class="fitem">
                <label>类型:</label>
                <select name="type">
                    <option value="0">游客</option>
                    <option value="1">普通会员</option>
                    <option value="2">超级会员</option>
                </select>
            </div>

            <div class="fitem">
                <label>删除标志:</label>
                <select name="delete_flag">
                    <option value="false">否</option>
                    <option value="true">是</option>
                </select>
            </div>
            
            <div class="fitem">
                <label>当前皮肤:</label>
                <select name="current_skin">
                    <option value="default">default</option>                  
                </select>
            </div>
      </form>
    </div> 
 
    <!-- 保存和关闭按钮 -->
    <div id="dlg-buttons">
        <a href="javascript:void(0)" onclick="saveUser()" class="easyui-linkbutton" iconCls="icon-ok">保存</a>
        <a href="javascript:void(0)" onclick="closeDialog()" class="easyui-linkbutton" iconCls="icon-cancel">关闭</a>
    </div>

</body>
</html>
